# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl

# AWS credentials — never commit these
*.pem
*.csv
.aws/

# Python
__pycache__/
*.pyc
.env
venv/

# VS Code
.vscode/
